@page
@model iSBiblio.Pages.EmpruntModel
@{
    ViewData["Title"] = "Vos Emprunts";
}


<header class="title">
    <h2>Mes Livres</h2>
</header>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <p class="dossier text-center alert alert-success" role="alert">@Model.Message</p>
}
<div class=" container mt-5">
    <div class="book-liste">
        @{int nb = 1;}
                
        @if(Model.userEmprunts == null)
        {
            <p class="dossier alert alert-danger" role="alert">Votre dossier de lecture est vide !</p>
        }
        else
        {
            @foreach (var info in Model.userEmprunts)
            {
                if (nb > 4)
                {
                    nb = 1;
                }
                var lien = "/img/livre" + nb + ".jpg";
                nb++;
                <div class="card book-card">
                    <img src="@lien" class="card-img-top" alt="Couverture de Livre">
                    <div class="card-body book-info">
                        <h2 class="card-title">@info.Titre</h2>
                        <p>  <span>Pris le @info.DateEmprunt</span></p>
                        @if(info.DateRetour != null)
                        {
                            <p>  <span>Retour: @info.DateRetour</span></p>
                        }
                        @if((info.DateRetour < DateOnly.FromDateTime(DateTime.Now)) || info.DateRetour == null)
                        {
                            <p><a class="btn btn-outline-success" asp-page="Emprunter" asp-route-Id="@info">Retourner Le Livre</a></p>
                        }
                                
                    </div>
                </div>
            }
        }
                
    </div>
</div>