@page
@model iSBiblio.Pages.UsersModel
@{
    ViewData["Title"] = "Utilisateurs";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>iSBiblio</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>

    <body>

         <a asp-page="index"><img src="~/img/logo2.png" alt="Logo" id="small_logo" /></a>
    
        <div class="menu-title">
            <h1>Livres Disponibles</h1>
        </div>
        <div class="menu_list">
        @foreach (var item in Model.Utilisateurs)
        {
                <div class="menu_list_item">
                    <span class="menu_list_title"> @Html.DisplayFor(modelItem => item.Nom) </span>
                    <span class="menu_list_item"> @item.Prenom </span>
                <span class="menu_list_item"> @item.Adresse </span>
                <span class="menu_list_item"> @item.Email </span>
                <span class="menu_list_item"> @item.DateInscription </span>
                </div>
            }
        </div>
        
    </body>
</html>

