@page
@model iSBiblio.Pages.Admin.Books.IndexModel

@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Gestion de Livres";
}

<h1 class="title w-100">Gestion de Livres</h1>

<p>
    <a asp-page="Create" class="valider btn btn-primary text-white">Ajouter</a>
</p>
<table class="adminForm table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Titre)
            </th>
            <th>
                Publication
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Genre)
            </th>
            <th>
                Etat
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre[0].Auteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Livre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AnneePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td class="text-center">
                    @if ((bool)item.Disponibilite)
                    {
                        <p>Disponible</p>
                    }
                    else
                    {
                        <p>Indisponible</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur.Nom)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.LivreId" class="m-2 btn btn-primary">Editer</a> 
                    <a asp-page="./Delete" asp-route-id="@item.LivreId" class="btn btn-danger">Retirer</a>
            </td>
        </tr>
}
    </tbody>
</table>
